@charset "UTF-8";
/* fuentes */
@import url("https://fonts.googleapis.com/css2?family=nunito:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=crimson+text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=open+sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@font-face {
  font-family: "high_tower";
  src: url(fonts/high_tower.ttf);
}
/* variables */
/* mixin */
/* extends */
article, .bloque_recursos, .bloque_recetas .row, .collapse .menu_lista, header .header_menu {
  display: flex;
  flex-flow: column wrap;
}

.bloque_contacto → form {
  display: flex;
  flex-flow: row wrap;
}

.btn-collapse {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapse .redes_sociales, .container-fluid .bloque_unico {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.btn-collapse, .menu_lista_2 li a, .collapse .menu_lista li a {
  font-family: "nunito", "gill sans", "gill sans mt", "trebuchet ms", sans-serif;
  font-weight: 800;
}

.bloque_recursos h2, .bloque_recetas h2, .index_about h2 {
  font-family: "high_tower", georgia, "times new roman", times, serif;
  border-bottom: 2px solid #eee;
  margin-bottom: 0.9rem;
  color: #333;
  font-weight: 500;
}

article h3, .index_novedades article a h3 {
  text-align: center;
  margin: 1rem auto;
  font-size: 2.5rem;
  font-variant: small-caps;
  letter-spacing: 2px;
  font-weight: bold;
}

.menu_lista_2 li a, .collapse .menu_lista li a {
  background-color: rgba(255, 255, 255, 0.6);
  color: #533a25;
  display: block;
  padding: 0.5rem 0;
  letter-spacing: 2px;
  font-size: 1.3rem;
  text-align: center;
  border-top: 2px solid #eee;
}

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5rem;
  margin: 0.5rem 0;
}

ul {
  list-style-type: none;
}

body {
  width: 100%;
  margin: 0 auto;
  background: url(../img/texture_01.webp) no-repeat;
  background-size: cover;
  font-family: "open sans", arial, helvetica, sans-serif;
  background-color: #eee;
  color: #222;
}

.container-fluid {
  margin: 0;
  padding: 0;
}
.container-fluid .bloque_unico {
  padding-bottom: 1rem;
  background: rgba(255, 255, 255, 0.9);
}
.container-fluid .bloque_doble {
  padding: 15% 4%;
  margin: 0;
  border-bottom: 2px solid #eee;
  background: rgba(255, 255, 255, 0.9);
}

/* header */
header {
  background: url(../img/header_bg.jpg) no-repeat center;
  background-size: cover;
}
header .header_menu {
  background: rgba(253, 249, 238, 0.322);
}
header .header_menu .header_menu_izq {
  width: 30%;
  margin: 1rem auto 0;
}
header .header_menu .header_menu_izq img {
  width: 100%;
  opacity: 70%;
}
header .header_menu .header_menu_dre h1 {
  font-family: "crimson-text", georgia, "times new roman", times, serif;
  letter-spacing: 1px;
  font-size: 3rem;
  line-height: 2rem;
  text-align: center;
  color: #533a25;
  text-shadow: rgba(255, 255, 255, 0.9) 0 2px 5px;
  font-variant: small-caps;
  margin-bottom: 1rem;
}

/* menu */
.btn-collapse {
  width: 100%;
  background: rgba(83, 58, 37, 0.75);
  border: 0;
  padding: 0.1rem 0;
  gap: 3%;
}
.btn-collapse span {
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #eee;
  font-weight: 600;
}
.btn-collapse img {
  width: 24px;
  opacity: 0.6;
}

.collapse {
  background: rgba(253, 249, 238, 0.322);
  padding-bottom: 2%;
  border-bottom: 2px solid #eee;
}
.collapse .menu_lista {
  justify-content: space-between;
  margin-bottom: 0.2rem;
}
.collapse .menu_lista li {
  margin: 1% 0;
}
.collapse .menu_lista li a .menu_lista li a:hover,
.collapse .menu_lista li a .menu_lista_2 li a.hover {
  border-color: transparent;
  background-color: #533a25;
  color: #fcead6;
}
.collapse .redes_sociales {
  background: rgba(255, 255, 255, 0.1);
  margin-top: 5%;
  padding: 0;
}
.collapse .redes_sociales li {
  width: 15%;
}
.collapse .redes_sociales li a img {
  width: 100%;
}
.collapse .redes_sociales li a img:hover {
  opacity: 70%;
}

#menu_active {
  border-color: transparent;
  background-color: #a5512a;
  color: #fcead6;
}

.menu_lista_2 {
  display: none;
}
/* ASIDE */
.redes_sociales_2 {
  display: none;
}

/* inicio */
.index_about h2 {
  font-size: 2.2rem;
}
.index_about p strong {
  font-weight: bold;
  font-style: italic;
  color: #533a25;
}
.index_about .firma {
  text-align: right;
  font-weight: bold;
  margin-bottom: 0;
}

.index_novedades article {
  border: solid #fcead6 2px;
  padding: 2%;
  margin-bottom: 2rem;
}
.index_novedades article a h3 {
  background-color: antiquewhite;
  color: #333;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 2rem;
  margin: 1rem;
}
.index_novedades article a p {
  font-size: 1.2rem;
  margin: 1rem;
  text-align: center;
  color: #555;
  font-weight: 500;
}
.index_novedades article a p.info {
  font-size: 1.1rem;
  font-style: italic;
  color: #7a4d28;
  padding: 1rem 2rem;
  -webkit-text-decoration: underline solid 2px burlywood;
          text-decoration: underline solid 2px burlywood;
}
.index_novedades article a:hover h3 {
  background-color: #7a4d28;
  color: #f7f7f7;
}
.index_novedades article a:hover .info {
  background-color: burlywood;
  color: #533a25;
}

/* recetas */
.bloque_recetas h2 {
  background-color: #533a25;
  color: #fcead6;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border: 0;
  font-variant: small-caps;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.5rem;
  line-height: 1.5rem;
  width: 100%;
}
.bloque_recetas .row {
  margin: 0 auto;
}
.bloque_recetas .row .card {
  background: #f7f7f7;
  margin-bottom: 2rem;
}
.bloque_recetas .row .card .card-body {
  background: burlywood;
}
.bloque_recetas .row .card .card-body .card-title {
  color: #533a25;
  font-size: 2rem;
}
.bloque_recetas .row .card .card-body .btn {
  background-color: #533a25;
  color: blanchedalmond;
}
.bloque_recetas .row .card .card-body .btn:hover {
  background-color: blanchedalmond;
  color: #533a25;
}

/* recursos */
.bloque_recursos {
  gap: 2rem;
  align-items: center;
}

.bloque_recursos h2 {
  flex-grow: 2;
  margin-bottom: 0;
}

article {
  width: 99%;
  justify-content: space-between;
  background: #fff;
  border-bottom: 2px solid #eee;
}
article h3 {
  background-color: #533a25;
  color: #fff;
  font-size: 1.7rem;
  letter-spacing: 1px;
  padding: 1rem 0;
  margin: 0 auto;
  width: 100%;
  border-radius: 4px;
}
article p {
  font-size: 0.9rem;
  margin: 0.5rem 1rem;
}
article a {
  background-color: blanchedalmond;
  color: #533a25;
  width: 90%;
  margin: 0 auto 1rem;
  padding: 1rem;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 7px;
}
article a:hover {
  background-color: #7a4d28;
  color: #f7f7f7;
}

article:nth-child(2) h3,
article:nth-child(3) h3 {
  background: linear-gradient(to top, #533a25, #7a4d28);
}

article:nth-child(2) a,
article:nth-child(3) a {
  background: linear-gradient(to top, burlywood, blanchedalmond);
}

/* tradición */
.bloque_tradicion h3 {
  color: #333;
  font-size: 4rem;
  -webkit-text-decoration: underline solid #555 5px;
          text-decoration: underline solid #555 5px;
}

.tradicion_proximo {
  font-size: 2rem;
  color: #aaa;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.bloque_tradicion h4 {
  font-size: 2em;
  margin-top: 0.5rem;
  color: #555;
  font-variant: small-caps;
  border-bottom: 2px solid #ccc;
  width: 90%;
  text-indent: 1rem;
}

.bloque_tradicion iframe {
  width: 90%;
  height: 50vh;
  border: 2px solid #ccc;
  box-shadow: #333 0px 3px 5px;
  margin: 1rem auto 4rem;
  display: block;
}

/* contacto */
.bloque_contacto → form {
  width: 80%;
  margin: auto;
  padding: 3rem 0;
}

form label,
.form_elementos {
  border-radius: 3px;
}

.form_elementos {
  background: #eee;
  margin-bottom: 2rem;
  border: 2px solid #ccc;
  padding: 0.8rem 0.6rem;
  width: 100%;
  font-size: 1rem;
}

form label,
.form_button {
  font-weight: bold;
  text-align: center;
}

form label {
  margin: 1rem 0;
  width: 100%;
  font-size: 1.3rem;
}

form textarea {
  height: 12rem;
  resize: none;
}

.form_elementos:focus,
.form_elementos:hover {
  background: #fff;
  border-color: rgb(55, 90, 165);
  outline: 0;
}

.form_button {
  width: 100%;
  padding: 1rem;
  border-style: solid;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.reset {
  opacity: 0.75;
  border-color: #533a25;
  color: #533a25;
}

.reset:hover {
  background-color: brown;
  color: #f7f7f7;
  border-color: transparent;
  opacity: 100;
}

.envio {
  background-color: rgb(55, 90, 165);
  color: #f7f7f7;
  border-color: #333;
}

.envio:hover {
  box-shadow: rgb(55, 90, 165) 0 3px 5px;
  background-color: #f7f7f7;
  color: rgb(55, 90, 165);
  letter-spacing: 1px;
}

/* simulacro de envio */
.bloque_simulacro_envio a:hover {
  box-shadow: #222 0 1px 30px inset;
  letter-spacing: 1px;
}

/* modal */
.modal_item li {
  margin: 1rem 0;
  border-bottom: #555 solid 1px;
}
.modal_item li a {
  font-size: 1.1rem;
  color: blanchedalmond;
}
.modal_item li a:hover {
  color: #7a4d28;
}

/* footer */
footer {
  background: #533a25;
  padding: 0.5rem;
}
footer p {
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  margin: 0;
  color: #fcead6;
  font-size: 0.8rem;
}

/* for recetas y recursos */ /* responsive */
@media screen and (min-width: 375px) {
  .btn span {
    margin-left: 0.3rem;
  }
}
@media screen and (min-width: 576px) {
  .header_menu_dre h1 {
    margin-bottom: 1.5rem;
    font-size: 4rem;
    line-height: 3rem;
  }
  .redes_sociales li {
    width: 10%;
  }
  .btn-collapse {
    padding: 0.5rem 0;
    background: rgba(83, 58, 37, 0.85);
  }
  .btn-collapse span {
    text-transform: uppercase;
  }
  .btn-collapse img {
    opacity: 0.7;
  }
  .bloque_dos {
    padding: 10%;
  }
  .bloque_unico h2 {
    font-size: 2.3rem;
    line-height: 2rem;
    padding: 1rem;
  }
  .art_recursos {
    width: 75%;
    margin-bottom: 1.5rem;
    border-bottom: solid 3px #eee;
    box-shadow: #ddd 0 3px 7px;
  }
  .art_recursos h3 {
    margin-bottom: 1rem;
  }
  .art_recursos p {
    margin-bottom: 2rem;
  }
  .art_recursos a {
    width: 75%;
  }
  .bloque_tradicion h3 {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .header_menu_izq {
    width: 20%;
  }
  .btn-collapse {
    display: none;
  }
  .menu_lista_2 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
    padding-left: 0;
  }
  .menu_lista_2 li {
    width: 100%;
  }
  #menu_active {
    border-color: blanchedalmond;
  }
  /* bloques */
  main {
    background: rgba(255, 255, 255, 0.5);
    display: grid;
    grid-template-areas: "redes_sociales bloque_mayor";
    justify-content: center;
    -moz-column-gap: 1%;
         column-gap: 1%;
    padding: 1% 1% 1% 0;
  }
  .bloque_mayor {
    grid-area: bloque_mayor;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.3rem;
    justify-content: space-evenly;
  }
  .bloque_unico {
    padding-bottom: 1rem;
    grid-column: 1/3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .bloque_dos {
    grid-column: span;
    padding: 3% 4%;
    border-bottom: 0;
  }
  footer p {
    font-size: 0.9rem;
  }
  /* --- aside --- */
  .redes_sociales_2 {
    display: block;
    grid-area: redes_sociales;
    height: -moz-fit-content;
    height: fit-content;
    position: sticky;
    top: 5%;
    padding: 1rem 0;
    background: blanchedalmond;
    border-radius: 0 5px 5px 0;
  }
  .redes_sociales_2 ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
  }
  .redes_sociales_2 ul li {
    width: 70%;
  }
  .redes_sociales_2 h2, .redes_sociales_2 ul li a span {
    display: none;
  }
  .redes_sociales_2 ul li a img {
    width: 100%;
  }
  .redes_sociales_2 ul li a:hover {
    background: rgb(136, 144, 151);
  }
  .redes_sociales ul li a:hover span {
    color: #fff;
  }
  /* recetas */
  .row {
    flex-direction: row;
  }
  .card-title {
    font-size: 1.5rem;
  }
  /* recursos */
  .bloque_recursos {
    flex-direction: row;
    gap: 1rem;
  }
  .bloque_recursos h2 {
    font-size: 2rem;
  }
  .art_recursos {
    width: 45%;
  }
  .art_recursos h3 {
    min-height: 2rem;
  }
  .art_recursos p {
    min-height: 10.5rem;
    margin-top: 0;
  }
  /* tradición */
  .bloque_tradicion iframe {
    height: 70vh;
  }
  /* formulario */
  .form_button {
    width: 45%;
    margin: auto;
  }
}
@media screen and (min-width: 992px) {
  /* header y menu */
  header {
    background-position: bottom;
  }
  .header_menu {
    background: rgba(253, 249, 238, 0.3215686275);
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: end;
    padding: 1rem;
  }
  .header_menu_izq {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    width: auto;
    margin: 0.5rem;
  }
  .header_menu_izq img {
    width: 100%;
  }
  .header_menu_dre {
    grid-column: 2/2;
  }
  .header_menu_dre h1 {
    letter-spacing: 4px;
    font-size: 5rem;
    margin-bottom: 0.75rem;
  }
  .header_menu_dre h1 br {
    display: none;
  }
  .menu_lista_2 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.2rem;
  }
  .menu_lista_2 li {
    width: 19%;
    padding: 0.5rem 0 0.1rem;
  }
  .menu_lista_2 li a {
    border-radius: 10px;
    padding: 0.3rem;
    background: linear-gradient(rgba(255, 255, 255, 0.3), #fff);
    color: #533a25;
    border-top: solid 1px #eee;
  }
  #menu_active {
    border-color: transparent;
  }
  /* bloques */
  .bloque_unico h2 {
    font-size: 2.5rem;
  }
  /* recetas */
  .card-title {
    font-size: 2rem;
  }
  /* recursos */
  .art_recursos p {
    font-size: 1rem;
  }
  /* formulario */
  form label {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
}
@media screen and (min-width: 1200px) {
  /* header y menu */
  .header_menu {
    grid-template-columns: 1fr 7fr;
  }
  .header_menu_izq {
    width: 80%;
  }
  .header_menu_dre h1 {
    font-size: 6rem;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1400px) {
  body {
    max-width: 1500px;
  }
}/*# sourceMappingURL=main.css.map */