@charset "UTF-8";
/* fuentes */
@import url("https://fonts.googleapis.com/css2?family=nunito:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=crimson+text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=open+sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@font-face {
  font-family: "high_tower";
  src: url(fonts/high_tower.ttf);
}
/* variables */
/* map */
/* mixin */
/* extends */
.bloque_recursos article, .bloque_recursos, .bloque_recetas .row, nav .collapse .menu_lista, header .header_menu {
  display: flex;
  flex-flow: column wrap;
}

.bloque_contacto form {
  display: flex;
  flex-flow: row wrap;
}

nav .btn-collapse {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .collapse .redes_sociales, .container-fluid .bloque_unico {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

nav .collapse .menu_lista li a, nav .btn-collapse {
  font-family: "nunito", "gill sans", "gill sans mt", "trebuchet ms", sans-serif;
  font-weight: 800;
}

.index_about h2, .bloque_tradicion h2, .bloque_recursos h2, .bloque_recetas h2 {
  font-family: "high_tower", georgia, "times new roman", times, serif;
  border-bottom: 2px solid #eee;
  margin-bottom: 0.9rem;
  font-weight: 500;
}

.bloque_tradicion h2, .bloque_recursos h2, .bloque_recetas h2 {
  background-color: #533a25;
  color: #fcead6;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border: 0;
  font-variant: small-caps;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.5rem;
  line-height: 1.5rem;
  width: 100%;
}

.bloque_tradicion h3, .bloque_recursos article h3, .index_novedades article a h3 {
  text-align: center;
  margin: 1rem auto;
  font-size: 2.5rem;
  font-variant: small-caps;
  letter-spacing: 2px;
  font-weight: bold;
}

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5rem;
  margin: 0.5rem 0;
}

ul {
  list-style-type: none;
}

/* contenedores */
body {
  width: 100%;
  margin: 0 auto;
  background: url(../img/texture_01.webp) no-repeat;
  background-size: cover;
  font-family: "open sans", arial, helvetica, sans-serif;
  background-color: #eee;
  color: #222;
}

.container-fluid {
  margin: 0;
  padding: 0;
}
.container-fluid .bloque_unico {
  padding-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
}
.container-fluid .bloque_doble {
  padding: 15% 4%;
  margin: 0;
  border-bottom: 2px solid #eee;
  background: rgba(255, 255, 255, 0.9);
}

/* header */
header {
  background: url(../img/header_bg.jpg) no-repeat center;
  background-size: cover;
}
header .header_menu {
  background: rgba(253, 249, 238, 0.322);
}
header .header_menu .header_menu_izq {
  width: 30%;
  margin: 1rem auto 0;
}
header .header_menu .header_menu_izq a img {
  width: 100%;
  opacity: 70%;
  filter: drop-shadow(-1px 2px 7px #533a25);
}
header .header_menu .header_menu_dre h1 {
  font-family: "crimson-text", georgia, "times new roman", times, serif;
  letter-spacing: 1px;
  font-size: 3rem;
  line-height: 2rem;
  text-align: center;
  color: #533a25;
  text-shadow: rgba(255, 255, 255, 0.9) 0 2px 5px;
  font-variant: small-caps;
  margin-bottom: 1rem;
}

/* menu */
nav .menu_lista_2 {
  display: none;
}
nav .btn-collapse {
  width: 100%;
  background: rgba(83, 58, 37, 0.75);
  border: 0;
  padding: 0.1rem 0;
  gap: 3%;
}
nav .btn-collapse img {
  width: 24px;
  opacity: 0.6;
}
nav .btn-collapse span {
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #eee;
  font-weight: 600;
  margin-bottom: 0.7rem;
}
nav .collapsing {
  transition: 0.01s;
  display: none;
}
nav .collapse {
  background: rgba(253, 249, 238, 0.322);
  padding-bottom: 2%;
  margin-bottom: 2rem;
  border-bottom: 2px solid #eee;
}
nav .collapse .menu_lista {
  justify-content: space-between;
  margin-bottom: 0.2rem;
}
nav .collapse .menu_lista li {
  margin: 1% 0;
}
nav .collapse .menu_lista li a {
  background-color: rgba(255, 255, 255, 0.6);
  color: #533a25;
  display: block;
  padding: 0.5rem 0;
  letter-spacing: 2px;
  font-size: 1.3rem;
  text-align: center;
  border-top: 2px solid #eee;
  transition: all 0.2s ease-in;
}
nav .collapse .menu_lista li a:hover {
  transition: all 0.2s ease-out;
  border-color: transparent;
  background-color: #533a25;
  color: #fcead6;
}
nav .collapse .menu_lista li .menu_active {
  background-color: #a5512a;
  color: #fcead6;
  border-color: transparent;
}
nav .collapse .redes_sociales li {
  width: 15%;
}
nav .collapse .redes_sociales li a img {
  transition: all 0.2s ease-in;
  width: 100%;
  filter: drop-shadow(-1px 3px 3px #aaa);
}
nav .collapse .redes_sociales li a img:hover {
  transition: all 0.2s ease-out;
  opacity: 50%;
}

/* aside */
.redes_sociales_2 {
  display: none;
}

/* inicio */
.index_welcome {
  background: url(../img/index_cocina.webp) center;
  background-size: cover;
  filter: grayscale(50%);
}
.index_welcome img {
  width: 45%;
  margin-top: 1rem;
  filter: drop-shadow(-1px 2px 5px #333);
}
.index_welcome .talkbubble {
  background-color: #333;
  color: #f7f7f7;
  position: relative;
  border-radius: 10px;
  padding: 0.5rem;
  width: 40%;
  height: -moz-min-content;
  height: min-content;
  margin-top: 2rem;
  filter: drop-shadow(-1px 2px 5px #555);
}
.index_welcome .talkbubble p {
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 1rem;
  font-style: italic;
}
.index_welcome .talkbubble::before {
  content: "";
  position: absolute;
  right: 99%;
  top: 40%;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid #333;
  border-bottom: 13px solid transparent;
}

.index_about h2 {
  font-size: 2.2rem;
}
.index_about p strong {
  font-weight: bold;
  font-style: italic;
  color: #533a25;
}
.index_about .firma {
  text-align: right;
  font-weight: bold;
  margin-bottom: 0;
}

.index_novedades article {
  border: solid #fcead6 2px;
  padding: 2%;
  margin-bottom: 2rem;
}
.index_novedades article a h3 {
  background-color: antiquewhite;
  color: #333;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 2rem;
  margin: 1rem;
  transition: all 0.2s ease-in;
}
.index_novedades article a p {
  font-size: 1.2rem;
  margin: 1rem;
  text-align: center;
  color: #555;
  font-weight: 500;
}
.index_novedades article a p.info {
  font-size: 1.1rem;
  font-style: italic;
  color: #7a4d28;
  padding: 1rem 2rem;
  -webkit-text-decoration: underline solid 2px burlywood;
          text-decoration: underline solid 2px burlywood;
  transition: all 0.2s ease-in;
}
.index_novedades article a:hover h3 {
  transition: all 0.2s ease-out;
  background-color: #7a4d28;
  color: #f7f7f7;
}
.index_novedades article a:hover .info {
  transition: all 0.2s ease-out;
  background-color: burlywood;
  color: #533a25;
}

/* recetas */
.bloque_recetas .row {
  margin: 0 auto;
}
.bloque_recetas .row .card {
  background: #f7f7f7;
  margin-bottom: 2rem;
}
.bloque_recetas .row .card .card-body {
  background: burlywood;
}
.bloque_recetas .row .card .card-body .card-title {
  color: #533a25;
  font-size: 2rem;
}
.bloque_recetas .row .card .card-body .btn {
  background-color: #533a25;
  color: blanchedalmond;
}
.bloque_recetas .row .card .card-body .btn:hover {
  background-color: blanchedalmond;
  color: #533a25;
}

/* recursos */
.bloque_recursos {
  gap: 2rem;
  align-items: center;
}
.bloque_recursos h2 {
  flex-grow: 2;
  margin-bottom: 0;
}
.bloque_recursos article {
  width: 99%;
  justify-content: space-between;
  background: #fff;
  border-bottom: 2px solid #eee;
}
.bloque_recursos article h3 {
  background-color: #533a25;
  color: #fff;
  font-size: 1.7rem;
  letter-spacing: 1px;
  padding: 1rem 0;
  margin: 0 auto;
  width: 100%;
  border-radius: 4px;
}
.bloque_recursos article p {
  font-size: 0.9rem;
  margin: 0.5rem 1rem;
}
.bloque_recursos article a {
  background-color: blanchedalmond;
  color: #533a25;
  width: 90%;
  margin: 0 auto 1rem;
  padding: 1rem;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 7px;
  transition: all 0.2s ease-in;
}
.bloque_recursos article a:hover {
  transition: all 0.2s ease-out;
  background-color: #7a4d28;
  color: #f7f7f7;
}
.bloque_recursos article:nth-child(2) h3, .bloque_recursos article:nth-child(3) h3 {
  background: linear-gradient(to top, #533a25, #7a4d28);
}
.bloque_recursos article:nth-child(2) a, .bloque_recursos article:nth-child(3) a {
  transition: all 0.2s ease-in;
  background: linear-gradient(to top, burlywood, blanchedalmond);
}
.bloque_recursos article:nth-child(2) a:hover, .bloque_recursos article:nth-child(3) a:hover {
  transition: all 0.2s ease-out;
  background: linear-gradient(to top, #533a25, #7a4d28);
}

/* tradición */
.bloque_tradicion h3 {
  color: #333;
  font-size: 4rem;
  -webkit-text-decoration: underline solid #555 5px;
          text-decoration: underline solid #555 5px;
}
.bloque_tradicion h4 {
  font-size: 2em;
  margin-top: 0.5rem;
  color: #555;
  font-variant: small-caps;
  border-bottom: 2px solid #ccc;
  width: 90%;
  text-indent: 1rem;
}
.bloque_tradicion iframe {
  width: 90%;
  height: 50vh;
  border: 2px solid #ccc;
  box-shadow: #333 0px 3px 5px;
  margin: 1rem auto 4rem;
  display: block;
}
.bloque_tradicion .tradicion_proximo {
  font-size: 2rem;
  color: #aaa;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

/* contacto */
.bloque_contacto form {
  width: 80%;
  margin: auto;
  padding: 3rem 0;
}
.bloque_contacto form label {
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
  width: 100%;
  font-size: 1.3rem;
}
.bloque_contacto form .form_elementos {
  border-radius: 3px;
  background: #eee;
  margin-bottom: 2rem;
  border: 2px solid #ccc;
  padding: 0.8rem 0.6rem;
  width: 100%;
  font-size: 1rem;
  transition: all 0.2s ease-in;
}
.bloque_contacto form .form_elementos:focus, .bloque_contacto form .form_elementos:hover {
  transition: all 0.2s ease-out;
  background: #fff;
  border-color: rgb(55, 90, 165);
  outline: 0;
}
.bloque_contacto form textarea {
  height: 12rem;
  resize: none;
}
.bloque_contacto form .form_button {
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding: 1rem;
  border-style: solid;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  transition: all 0.2s ease-in;
}
.bloque_contacto form .form_button:hover {
  transition: all 0.2s ease-out;
}
.bloque_contacto form .reset {
  opacity: 0.75;
  border-color: #533a25;
  color: #533a25;
}
.bloque_contacto form .reset:hover {
  background-color: brown;
  color: #f7f7f7;
  border-color: transparent;
  opacity: 100%;
  letter-spacing: 2px;
}
.bloque_contacto form .envio {
  background-color: rgb(55, 90, 165);
  color: #f7f7f7;
  border-color: #333;
  box-shadow: transparent 0 0 1px inset;
}
.bloque_contacto form .envio:hover {
  box-shadow: rgb(55, 90, 165) 0 0 5px inset;
  background-color: #f7f7f7;
  color: rgb(55, 90, 165);
  letter-spacing: 3px;
}

/* simulacro de envio */
.bloque_simulacro_envio a {
  transition: all 0.2s ease-in;
}
.bloque_simulacro_envio a:hover {
  transition: all 0.2s ease-out;
  box-shadow: #222 0 1px 30px inset;
  letter-spacing: 1px;
}

/* modal */
.modal-content {
  background-color: #533a25;
  box-shadow: 0 3px 30px #111;
}
.modal-content .modal-body .modal_title-h4 {
  background-color: rgba(32, 23, 17, 0.8);
  color: antiquewhite;
  letter-spacing: 3px;
}
.modal-content .modal-body .modal_item {
  background-color: rgba(32, 23, 17, 0.5);
  width: 100%;
  padding: 1rem 0.5rem;
  border-radius: 7px;
}
.modal-content .modal-body .modal_item li {
  margin: 1rem;
  border-bottom: solid 1px rosybrown;
  padding-bottom: 1rem;
}
.modal-content .modal-body .modal_item li:last-child {
  border: 0;
}
.modal-content .modal-body .modal_item li a {
  font-size: 1.5rem;
  color: #eee;
}
.modal-content .modal-body .modal_item li a:hover {
  color: rgb(32, 23, 17);
}
.modal-content .modal-body button {
  transition: all 0.2s ease-in;
}
.modal-content .modal-body button:hover {
  transition: all 0.2s ease-out;
  filter: brightness(125%) grayscale(150%);
  letter-spacing: 4px;
}

/* footer */
footer {
  background: #533a25;
  padding: 0.5rem;
}
footer p {
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  margin: 0;
  color: #fcead6;
  font-size: 0.8rem;
}

@keyframes fade_scale {
  0% {
    transform-origin: bottom;
    opacity: 0;
    transform: scale(0.9, 1);
  }
  100% {
    opacity: 100%;
    transform: scale(1, 1);
  }
}
@keyframes fade_slide {
  0% {
    transform-origin: left;
    opacity: 0;
    transform: scale(0.9) translateX(-5%);
  }
  100% {
    opacity: 100%;
    transform: scale(1);
  }
}
.index_welcome img {
  animation-name: fade_scale;
  animation-duration: 0.8s;
  animation-delay: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}
.index_welcome .talkbubble {
  animation-name: fade_slide;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}

.bloque_recetas .row .anima_1 {
  animation-name: fade_scale;
  animation-duration: 0.6s;
  animation-delay: 0.1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}
.bloque_recetas .row .anima_2 {
  animation-name: fade_scale;
  animation-duration: 0.6s;
  animation-delay: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}
.bloque_recetas .row .anima_3 {
  animation-name: fade_scale;
  animation-duration: 0.6s;
  animation-delay: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}
.bloque_recetas .row .anima_4 {
  animation-name: fade_scale;
  animation-duration: 0.6s;
  animation-delay: 0.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}
.bloque_recetas .row .anima_5 {
  animation-name: fade_scale;
  animation-duration: 0.6s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}
.bloque_recetas .row .anima_6 {
  animation-name: fade_scale;
  animation-duration: 0.6s;
  animation-delay: 0.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}
.bloque_recetas .row .anima_7 {
  animation-name: fade_scale;
  animation-duration: 0.6s;
  animation-delay: 0.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}
.bloque_recetas .row .anima_8 {
  animation-name: fade_scale;
  animation-duration: 0.6s;
  animation-delay: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}
.bloque_recetas .row .anima_9 {
  animation-name: fade_scale;
  animation-duration: 0.6s;
  animation-delay: 0.9s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-8-14 2:35:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.fade-in-bottom {
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-in-bottom {
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* responsive */
@media screen and (min-width: 375px) {
  nav .collapse .redes_sociales {
    margin: 2.5% auto;
  }
  nav .collapse .redes_sociales li {
    width: 10%;
  }
  /* bloques */
  .index_welcome .talkbubble {
    margin-top: 3.5rem;
    margin-left: -2%;
  }
  .index_welcome .talkbubble p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  .bloque_recetas .row {
    width: 80%;
  }
  .bloque_recetas .row .card .card-body .btn span {
    margin-left: 0.5rem;
  }
}
@media screen and (min-width: 575px) {
  header .header_menu .header_menu_dre h1 {
    margin-bottom: 1.5rem;
    font-size: 4rem;
    line-height: 3rem;
  }
  nav .btn-collapse {
    padding: 0.5rem 0;
  }
  nav .btn-collapse span {
    text-transform: uppercase;
  }
  nav .btn-collapse img {
    opacity: 0.7;
  }
  nav .collapse .redes_sociales {
    margin-bottom: 6.5%;
  }
  /* bloques */
  .container-fluid .bloque_doble {
    padding: 10%;
  }
  .container-fluid .bloque_unico h2 {
    font-size: 2.3rem;
    line-height: 2rem;
    padding: 1rem;
  }
  .index_welcome .talkbubble {
    margin-left: -5%;
    margin-top: 5rem;
  }
  .index_welcome .talkbubble p {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
  .bloque_recetas .row {
    width: 70%;
  }
  .bloque_recursos article {
    width: 75%;
    margin-bottom: 1.5rem;
    border-bottom: solid 3px #eee;
    box-shadow: #ccc 0 3px 7px;
  }
  .bloque_recursos article h3 {
    margin-bottom: 1rem;
  }
  .bloque_recursos article p {
    margin-bottom: 2rem;
  }
  .bloque_recursos article a {
    width: 75%;
  }
  .bloque_tradicion h3 {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 768px) {
  header .header_menu .header_menu_izq {
    width: 20%;
  }
  /* menu */
  nav .btn-collapse {
    display: none;
  }
  nav .menu_lista_2 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
    padding-left: 0;
  }
  nav .menu_lista_2 li {
    width: 100%;
  }
  nav .menu_lista_2 li a {
    font-family: "nunito", "gill sans", "gill sans mt", "trebuchet ms", sans-serif;
    font-weight: 800;
    background-color: rgba(255, 255, 255, 0.6);
    color: #533a25;
    display: block;
    padding: 0.5rem 0;
    letter-spacing: 2px;
    font-size: 1.3rem;
    text-align: center;
    border-top: 2px solid #eee;
    transition: all 0.2s ease-in;
  }
  nav .menu_lista_2 li a:hover {
    transition: all 0.2s ease-out;
    border-color: blanchedalmond;
    background-color: #533a25;
    color: #fcead6;
  }
  nav .menu_lista_2 li .menu_active {
    background-color: #a5512a;
    color: #fcead6;
    border-color: blanchedalmond;
  }
  nav .menu_lista_2 li .menu_active:hover {
    background-color: #333;
    color: #eee;
    border-color: #aaa;
  }
  /* bloques */
  main {
    background: rgba(255, 255, 255, 0.6);
    display: grid;
    grid-template-areas: "redes_sociales bloque_mayor";
    justify-content: center;
    -moz-column-gap: 1%;
         column-gap: 1%;
    padding: 1% 1% 1% 0;
  }
  .bloque_mayor {
    grid-area: bloque_mayor;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.3rem;
    justify-content: space-evenly;
  }
  .bloque_mayor .bloque_unico {
    padding-bottom: 1rem;
    grid-column: 1/3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .bloque_mayor .bloque_doble {
    grid-column: span;
    padding: 3% 4%;
    border-bottom: 0;
  }
  footer p {
    font-size: 0.9rem;
  }
  /* aside */
  .redes_sociales_2 {
    display: block;
    grid-area: redes_sociales;
    height: -moz-fit-content;
    height: fit-content;
    position: sticky;
    top: 5%;
    padding: 1rem 0;
    background: blanchedalmond;
    border-radius: 0 5px 5px 0;
    z-index: 2;
  }
  .redes_sociales_2 ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
  }
  .redes_sociales_2 ul li {
    width: 70%;
  }
  .redes_sociales_2 ul li a {
    position: relative;
  }
  .redes_sociales_2 ul li a::after {
    content: attr(data-name);
    position: absolute;
    left: 140%;
    bottom: -40%;
    background-color: #444;
    color: #eee;
    padding: 0 1rem 0.5rem;
    border: solid 1px #aaa;
    border-radius: 5px;
    font-weight: bold;
    font-family: "nunito", "gill sans", "gill sans mt", "trebuchet ms", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
    transform-origin: left;
    transform: scaleX(0);
    opacity: 0;
    transition: all 0.2s ease-in;
  }
  .redes_sociales_2 ul li a:hover img {
    transition: all 0.2s ease-out;
    transform: scale(1.25, 1.25) translateX(5px);
    opacity: 75%;
  }
  .redes_sociales_2 ul li a:hover::after {
    transition: all 0.2s ease-out;
    transform: scaleX(1);
    opacity: 100%;
  }
  .redes_sociales_2 ul li a img {
    width: 100%;
    transition: all 0.2s ease-in;
  }
  /* index */
  .index_welcome img {
    width: 35%;
  }
  .index_welcome .talkbubble {
    width: 30%;
    margin-left: -15%;
  }
  /* recetas */
  .bloque_recetas .row {
    flex-direction: row;
    width: 90%;
  }
  .bloque_recetas .row .card .card-body .card-title {
    font-size: 1.5rem;
  }
  /* recursos */
  .bloque_recursos {
    flex-direction: row;
    gap: 1rem;
  }
  .bloque_recursos h2 {
    font-size: 2rem;
  }
  .bloque_recursos article {
    width: 45%;
  }
  .bloque_recursos article h3 {
    min-height: 2rem;
  }
  .bloque_recursos article p {
    min-height: 10.5rem;
  }
  /* tradición */
  .bloque_tradicion iframe {
    height: 70vh;
  }
  /* formulario */
  .bloque_contacto form .form_button {
    width: 45%;
    margin: auto;
  }
}
@media screen and (min-width: 992px) {
  /* header */
  header {
    background-position: bottom;
  }
  header .header_menu {
    background: rgba(253, 249, 238, 0.322);
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: end;
    padding: 1rem;
  }
  header .header_menu .header_menu_izq {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    width: auto;
    margin: 0.5rem;
  }
  header .header_menu .header_menu_izq a img {
    width: 100%;
  }
  header .header_menu .header_menu_dre {
    grid-column: 2/2;
  }
  header .header_menu .header_menu_dre h1 {
    letter-spacing: 4px;
    font-size: 5rem;
    margin-bottom: 0.75rem;
  }
  header .header_menu .header_menu_dre h1 br {
    display: none;
  }
  /* menu */
  nav .menu_lista_2 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.2rem;
  }
  nav .menu_lista_2 li {
    width: 19%;
    padding: 0.5rem 0;
  }
  nav .menu_lista_2 li a {
    border-radius: 10px;
    padding: 0 0 0.6rem;
    background: linear-gradient(rgba(255, 255, 255, 0.3), #fff);
    color: #533a25;
    border-top: solid 1px #eee;
    filter: drop-shadow(0 2px 5px #aaa);
  }
  nav .menu_lista_2 li a:hover {
    background: unset;
    border: transparent;
    background-color: #533a25;
    color: #fcead6;
    transform: scale(1.025);
  }
  nav .menu_lista_2 li .menu_active {
    border-color: transparent;
    background: #533a25;
  }
  nav .menu_lista_2 li .menu_active:hover {
    transform: scale(0.975);
    background-color: #333;
    color: #eee;
  }
  /* bloques */
  .bloque_mayor .bloque_unico h2 {
    font-size: 2.5rem;
  }
  /* index */
  .index_welcome img {
    width: 25%;
  }
  .index_welcome .talkbubble {
    width: 25%;
    margin-left: -23%;
  }
  /* recetas */
  .bloque_recetas .row .card .card-body .card-title {
    font-size: 2rem;
  }
  /* recursos */
  .bloque_recursos article p {
    font-size: 1rem;
  }
  /* formulario */
  .bloque_contacto form label {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
}
@media screen and (min-width: 1200px) {
  header .header_menu {
    grid-template-columns: 1fr 7fr;
  }
  header .header_menu .header_menu_izq {
    width: 80%;
  }
  header .header_menu .header_menu_dre h1 {
    font-size: 6rem;
    margin-bottom: 1.5rem;
  }
  .index_welcome img {
    width: 20%;
  }
  .index_welcome .talkbubble {
    width: 18%;
    margin-left: -30%;
  }
}
@media screen and (min-width: 1400px) {
  body {
    max-width: 1500px;
  }
}/*# sourceMappingURL=main.css.map */