@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?&display=swap');

:root {
    --font-title: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --font-subtitle: 'Libre Baskerville', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font-body: 'Cantarell', 'open sans', arial, verdana, Calibri, sans-serif;
    --font-body-sp: 'Josefin Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #32383e;
    max-width: 1300px;
}

/* --- header --- */

header {
    background: linear-gradient(to right, #25252b, #3c3c43);
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    margin-bottom: 3rem
}

.title_container {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title_container img {
    opacity: .7;
    width: 8%
}

.title_text {
    width: 85%;
}

.title_text h1 {
    font: 500 1.75rem var(--font-title);
    color: #bfbfbf;
    letter-spacing: 1px;
}

.title_text h2 {
    font: 700 2.25rem var(--font-title);
    color: #ece9e5;
    letter-spacing: 3px;
    text-transform: uppercase;
}

nav {
    width: 30%;
    font: 600 1.15rem/1.35rem var(--font-title);
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    align-self: self-end;
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 10%
}

nav ul li {
    border-bottom: 1px dashed #555;
    padding: .3rem 1rem;
}

nav ul li a {
    color: #bebcba;
    transition: .3s;
}

nav ul li a span {
    color:#777;
    display: block;
}

nav ul li a:hover {
    transition: .1s;
    color: #b7d2e9;
}

.up {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem 2rem;
    opacity: .3;
    background: rgba(121, 131, 163, 0.068);
    transition: .15s;
}

.up a {
    color:#fff;
    font: 1rem var(--font-body);
    display: flex;
    gap:.5rem;
    align-items: center;
}

.up:hover {
    opacity: .8;
    transition: .15s;
}

/* --- section --- */

section {
    width: 90%;
    margin: 2rem auto 5rem
}

section article {
    color: #ddd;
    font-family: var(--font-body);
    padding: 2.5rem 0;
    border-top: 1px dotted #555;
}

section h3 {
    color: #eee;
    background: linear-gradient(to right, transparent, #545a63, transparent);
    font: small-caps 2.25rem/1.75rem var(--font-subtitle);
    text-align: center;
    letter-spacing: 4px;
    padding: 1.5rem 0 1.25rem;
    margin-bottom: 1.5rem;
}

section article h4 {
    font: small-caps bold 1.9rem var(--font-subtitle);
    letter-spacing: 2px;
    text-align: center;
    color: #adaba7;
    margin-bottom: 1rem
}

/* about */
.about {
    display: flex;
    flex-flow: column;
    gap: .25rem .5rem;
}

.about_present {
    padding: 0 1rem;
}

.about_present blockquote {
    font: italic 300 1.6rem/2.2rem var(--font-body-sp);
    margin: 0 5rem;
    color: #eee
}

.about_rs_list {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}

.about_rs_list li {
    width: 100%;
}

.about_rs_list li a {
    color: #ddd;
    font: 400 1.4rem var(--font-body-sp);
    position: relative;
    transition: .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_rs_list li a img {
    width: 2rem;
    margin-bottom: .5rem;
}

.about_rs_list li a span {
    font-size: 1rem;
    color: #777;
    margin-top: .25rem
}

.about_rs_list li:hover {
    transition: .3s;
    filter: brightness(150%);
}

.about_rs_list li:hover::before {
    transition: .3s;
    position: absolute;
    left: 5%;
    top: 103%;
    width: 90%;
    height: 3%;
    background: linear-gradient(to right, transparent, #266292, transparent);
    content: "";
    z-index: -1;
}

.about_list {
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.about_sublist {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    gap: 1rem 3rem
}

.about_sublist h5 {
    font: small-caps bold 1.5rem var(--font-body-sp);
    color: #777;
    width: 100%;
    text-align: center;
}

.about_sublist li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    gap: .5rem
}

.about_sublist li img {
    height: 3.5rem;
    opacity: .9;
    margin: auto
}

.about_list_software {
    display: flex;
    justify-content: space-around;
}

.about_list_software li {
    display: flex;
    flex-flow: wrap column;
    width: 100%;
    gap: .3rem
}

.about_list_software li img {
    height: 3.5rem;
    opacity: .9;
    margin: 0 auto
}

.about_list_software li p {
    text-align: center;
    font-weight: bold;
    width: 100%;
}

.about_list_software li span {
    color: #aaa;
    font-size: .9rem;
    text-align: center;
}

/* proyectos principales */
.main_projects {
    border-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_projects h4 {
    color: #ddd;
    margin-bottom: .2rem;
}

.main_projects span {
    font: italic 1.6rem var(--font-subtitle);
    letter-spacing: 1.5px;
    color: #aaa;
}

.main_projects p {
    font-size: 1.5rem;
    color: #777;
}

.main_projects a {
    color: #f7f7f7;
    background: #334b83;
    font: small-caps 500 1.4rem var(--font-body-sp);
    letter-spacing: 2px;
    transition: .3s;
    border-radius: 5px;
    padding: 1rem 0;
    width: 25%;
    text-align: center;
    margin-top: 2rem;
}

.main_projects a:hover {
    transition: .3s;
    color: #25252b;
    background: #ddd;
    border-color: #ddd
}

.main_projects a i {
    font-style: normal;
    color: #aaa;
}

.main_projects a:hover i {
    color: #266292;
}

.projects_thumbs {
    width: 80%;
    margin: 3rem 0;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.projects_thumbs li img {
    width: 100%;
    border-radius: 5px;
}

.i-mobile,
.i-tablet,
.i-desktop {
    border: solid 1px #555;
    border-radius: 20px;
    background: #25252b;
    position: relative;
}

.i-mobile {
    padding: 2% 1% 1%;
    width: 10%
}

.i-tablet {
    padding: 1.25%;
    width: 25%
}

.i-desktop {
    padding: 1.25%;
    width: 45%
}

.i-mobile::before,
.i-tablet::before,
.i-desktop::before,
.i-desktop::after {
    position: absolute;
    content: "";
    background: #444;
}

.i-mobile::before {
    left: 37.5%;
    top: 3%;
    height: 2%;
    width: 25%;
    border-radius: 5px;
}

.i-tablet::before {
    width: 2%;
    height: 2%;
    top: 1%;
    left: 50%;
    border-radius: 50%;
}

.i-desktop::before {
    width: 1%;
    height: 1.5%;
    top: 1.05%;
    left: 50%;
    border-radius: 50%;
}

.i-desktop::after {
    width: 110%;
    height: 5%;
    border-radius: 10px;
    bottom: -6.5%;
    left: -5%;
    border: solid 1px #555;
    background: #25252b;
}

/* proyectos menores */

.side_projects {
    opacity:.1
}
