/* header */
header {
    background: url(../img/header_bg.jpg) no-repeat center;
    background-size: cover;

    .header_menu {
        background: $bg_header;
        @extend %flex_column;

        .header_menu_izq {
            width: 30%;
            margin: 1rem auto 0;

            a {

                img {
                    width: 100%;
                    opacity: 70%;
                    filter: drop-shadow(-1px 2px 7px $color_highlight_base);
                }

            }

        }

        .header_menu_dre {

            h1 {
                font-family: map-get($family, title_1);
                letter-spacing: 1px;
                font-size: 3rem;
                line-height: 2rem;
                text-align: center;
                color: $color_highlight_base;
                text-shadow: $bg_page 0 2px 5px;
                font-variant: small-caps;
                margin-bottom: 1rem;
            }

        }

    }

}