/* footer */

footer {
    background: #533a25;
    padding: .5rem
}

footer p {
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    margin: 0;
    color: #fcead6;
    font-size: .8rem;
}
