/* menu */
.btn-collapse {
    width: 100%;
    background: rgba(83, 58, 37, 0.75);
    border: 0;
    padding: .1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.btn-collapse span {
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: #eee;
    font-weight: 600;
}

.btn-collapse img {
    width: 24px;
    opacity: .6;
}

.collapse {
    background: rgba(253, 249, 238, 0.322);
    padding-bottom: 2%;
    border-bottom: 2px solid #eee;
}

.menu_lista {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin-bottom: .2rem;
}

.menu_lista li {
    margin: 1% 0
}

.menu_lista li a, .menu_lista_2 li a {
    display: block;
    padding: .5rem 0;
    letter-spacing: 2px;
    font-size: 1.3rem;
    text-align: center;
    background: #ffffffa6;
    color: #533a25;
    border-top: solid 2px #eee;
}

#menu_active {
    background: rgb(165, 81, 42);
    color: #fcead6;
    border-color: transparent
}

.menu_lista li a:hover, .menu_lista_2 li a.hover {
    color: #fcead6;
    background: #533a25;
    border-color: transparent
}

.menu_lista_2 {
    display: none
}

.redes_sociales {
    background: rgba(255, 255, 255, .1);
    margin-top: 5%;
}

.redes_sociales {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.redes_sociales li {
    width: 15%;
}

.redes_sociales li a img {
    width: 100%;
}

.redes_sociales li a img:hover {
    opacity: 70%;
}

/* ASIDE */
.redes_sociales_2 {
    display: none;
}
