/* modal */

.modal_item li {
    margin: 1rem 0;
    border-bottom: #555 solid 1px;
}

.modal_item li a {
    font-size: 1.1rem;
    color: blanchedalmond
}

.modal_item li a:hover {
    color: #7a4d28
}