/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5rem;
    margin: .5rem 0
}

ul {
    list-style-type: none;
}

.container-fluid {
    margin: 0;
    padding: 0;
}