* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background: url(../img/bg.webp) rgb(57, 58, 59) no-repeat fixed;
  background-size: cover;
}

main {
  background-color: rgba(51, 68, 87, 0.9);
  padding: 2rem 1rem;
  margin: 7.5% 3% 0;
  border: 5px double rgba(204, 204, 204, 0.3);
  border-radius: 1px;
  filter: drop-shadow(0 0.5rem 1.5rem rgba(33, 115, 209, 0.9));
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2.75rem;
  color: #e6e470;
  margin: 2rem auto 1rem;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.5rem;
  color: #e6e470;
  text-transform: uppercase;
  text-align: center;
  margin: 1rem auto 2rem;
}

h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  color: #f8f4b7;
  line-height: 1.75rem;
  text-align: center;
  margin: 1rem 0 2rem;
}

p {
  color: #f7f7f7;
  width: 90%;
  margin: 1rem auto;
  letter-spacing: 0.5px;
}

ul {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

li {
  width: 80%;
  color: #eee;
  margin: auto;
  list-style: circle;
}

.btn {
  transition: 0.15s;
  border-radius: 15px;
}

.btn:hover {
  transition: 0.15s;
  filter: brightness(110%) drop-shadow(0 0.2rem 0.5rem #eeeeeeaa);
}

input,
.btn-form,
.questions {
  padding: 0.5rem;
  margin: 0.5rem auto;
  background: #f0eebb;
  border: solid 2px #f8f4b7;
  color: #333;
  font-weight: bolder;
  width: 80%;
  text-align: center;
}

.btn-first,
.btn-questions-close {
  background: #f8f67a;
}

.btn-second,
.btn-questions-retry {
  background: #eee;
  border-color: #ccc;
}

.btn-four {
  background: #2b3b50;
  color: #ccc;
  border-color: #485c75;
}

.btn-history {
  width: 50%;
  margin: 2rem auto 1rem;
}

.btn-questions-retry {
  margin-top: 2.5rem;
}

.btn-questions-close {
  margin-bottom: 2.5rem;
}

.btn-questions-retry,
.btn-questions-close,
.btn-restart {
  width: 40%;
  margin-left: 30%;
  display: inline-block;
}

.btn-disabled {
  background: #2b3b50;
  border: #2b3b50;
  color: #aab0bb;
}

.btn-disabled:hover {
  filter: unset;
}

.textContainer {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 4rem;
}

.textOut {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2.1rem;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin: 3rem auto;
}

.buttons {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  width: 90%;
  margin: auto;
}

.tutorial-toasty::first-line,
.userRegInit::first-line,
.errorToast::first-line {
  font-weight: bolder;
  font-size: 1.1em;
  text-transform: uppercase;
}

.questionsToast::first-line {
  font-weight: bolder;
  font-size: 1.1em;
}

.tutorial-toasty,
.userRegInit,
.errorToast,
.questionsToast,
.regUserToast {
  color: #fafaea;
  background: #222;
  padding: 2%;
  border: solid 2px #eee;
  border-radius: 10px;
  filter: drop-shadow(0 3px 7px #f7f7f7);
}

.errorToast,
.qError {
  background: rgb(90, 48, 40);
}

.qSuccess,
.regUserToast {
  background: #344c66;
}

#questionSubContainer {
  transition: opacity 0.5s;
  padding: 2rem 0;
  border: #cccccc10 solid;
  border-width: 2px 0;
}

#questionSubContainer:first-child {
  border-top: 0;
}

#questionSubContainer:nth-child(7) {
  border-bottom: 0;
}

.hide {
  opacity: 0;
}

.show {
  transition: 0.05s;
}

#questionSubContainer h3 {
  color: #f7f7f7;
}

.questions {
  border-radius: 10px;
  padding: 0.5rem;
  transition: 0.1s;
}

.questions:hover {
  transition: 0.1s;
  filter: brightness(110%) drop-shadow(0 0.2rem 0.5rem #eeeeeeaa);
}

#asmContainer {
  text-align: center;
}

#asmContainer img {
  margin: 1rem auto 3rem;
  filter: invert(150%) drop-shadow(0 3px 3px #333);
}

.regInput {
  background: #f0eebb;
  border-color: #f0eebb;
  border-radius: 15px;
  transition: 0.5s;
  outline: 0;
}

#restartContainer p {
  font-size: 1.75rem;
  text-align: center;
  font-weight: bold;
  margin-top: 2.5rem;
  padding-top: 2.5rem;
  color: #f0eebb;
  border-top: solid 1px #cccccc20;
}

@media screen and (max-width: 800px) {
  :root {
    font-size: 14px;
  }

  body {
    background-repeat: repeat-y;
    background-size: contain;
  }
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (max-width: 420px) {
  .buttons {
    gap: 0.2rem;
    flex-flow: column;
  }

  #restartContainer {
    display: flex;
    flex-flow: column;
  }

  .btn-restart {
    width: 80%;
    margin: 1rem auto;
  }
}
